// variables
@import "utilities/variables";

* {
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: $ms_primary_background;
    background-image: url('/background-green.png');
    background-size: cover;

    #welcome-container {
        background-image: url('/logo-green.png');
        background-size: contain;
        background-position: right;

        #content {
            background-color: $ms_primary_text;
        }

        #description {
            p {
                color: $ms_primary_text;
                padding: 2.5rem 6.25rem 0;
            }
        }
    }

    #products-show-container, #restaurant-show-container {
        img {
            max-width: 31.25rem;
        }
    }

}