@use "../utilities/variables" as *;

#dashboard-container {
    color: $ms_primary_text;
    
    h2, h3 {
        color: $ms_primary_text;
    }

    #products-container {
        background-color: rgba(250, 242, 50, 0.8);
        //background-color: rgba(104, 252, 255, 0.9);
    }

    #restaurant-container {
        background-color: rgba(104, 252, 255, 0.8);
        //background-color: rgba(250, 242, 50, 0.9);
    }
}