@use "../utilities/variables" as *;

#dashboard-container {
    color: $ms_secondary_color;
    
    h2, h3, .dashboard-products-name {
        color: $ms_secondary_color;
    }

    #products-container {
        background-color: rgba(250, 242, 50, 0.8);
        //background-color: rgba(104, 252, 255, 0.9);
    }

    #restaurant-container {
        background-color: rgba(104, 252, 255, 0.8);
        //background-color: rgba(250, 242, 50, 0.9);
    }
}

.dashboard-image-container {
    max-height: 15.9375rem;
}